<?xml version="1.0"?>
<robot name="iris_drone_with_camera">

  <material name="black"><color rgba="0.15 0.15 0.15 1.0"/></material>
  <material name="red"><color rgba="0.8 0.0 0.0 1.0"/></material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/lucia/Documents/GitHub/IR2136/drone_project/ardupilot_gazebo/models/iris_with_standoffs/meshes/iris.dae"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0.123 0.22 -0.11" rpy="0 0 0"/>
      <geometry><cylinder radius="0.005" length="0.17"/></geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.123 -0.22 -0.11" rpy="0 0 0"/>
      <geometry><cylinder radius="0.005" length="0.17"/></geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="-0.140 0.21 -0.11" rpy="0 0 0"/>
      <geometry><cylinder radius="0.005" length="0.17"/></geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="-0.140 -0.21 -0.11" rpy="0 0 0"/>
      <geometry><cylinder radius="0.005" length="0.17"/></geometry>
      <material name="black"/>
    </visual>
  </link>

  <link name="rotor_0">
    <visual>
      <geometry>
        <mesh filename="file:///home/lucia/Documents/GitHub/IR2136/drone_project/ardupilot_gazebo/models/iris_with_standoffs/meshes/iris_prop_ccw.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_0"/>
    <origin xyz="0.13 -0.22 0.023" rpy="0 0 0"/>
  </joint>

  <link name="rotor_1">
    <visual>
      <geometry>
        <mesh filename="file:///home/lucia/Documents/GitHub/IR2136/drone_project/ardupilot_gazebo/models/iris_with_standoffs/meshes/iris_prop_ccw.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_1"/>
    <origin xyz="-0.13 0.2 0.023" rpy="0 0 0"/>
  </joint>

  <link name="rotor_2">
    <visual>
      <geometry>
        <mesh filename="file:///home/lucia/Documents/GitHub/IR2136/drone_project/ardupilot_gazebo/models/iris_with_standoffs/meshes/iris_prop_cw.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_2"/>
    <origin xyz="0.13 0.22 0.023" rpy="0 0 0"/>
  </joint>

  <link name="rotor_3">
    <visual>
      <geometry>
        <mesh filename="file:///home/lucia/Documents/GitHub/IR2136/drone_project/ardupilot_gazebo/models/iris_with_standoffs/meshes/iris_prop_cw.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_3"/>
    <origin xyz="-0.13 -0.2 0.023" rpy="0 0 0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.02 0.02 0.02"/> </geometry>
      <material name="red"/>
    </visual>
  </link>
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.15 0 0.05" rpy="0 0.5236 0"/> 
  </joint>

</robot>
